body
{
  font-size: 13px;
  background-color: #fcfcfc;
}

.left
{
  float: left;
}

.right
{
  float: right;
}

.clearfix
{
  clear: both;
  display: block;
}

.unicode
{
  font-family: 'Lucida Sans Unicode';
}

::selection, ::-moz-selection
{
  background-color: steelblue;
  color: white;
}

a
{
  text-decoration: none;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

pre
{
  white-space: pre;
  background-color: #fefefe;
  width: 750px;
}

h2
{
  font-size: 14pt;
  margin-bottom: 5px;
}

h3
{
  font-size: 15px;
}

p
{
  font-size: 13px;
  margin: 10px 0 10px 25px;
  width: 750px;
  line-height: 20px;
}

td {
  vertical-align: middle;
  padding: 0 10px;
}

tr td {
  padding-bottom: 10px;
}

tr:last-child td {
  padding-bottom: 0;
}

td:first-child {
  text-align: right;
}

table a.btn {
  width: 143px;
}

div.top_nav
{
  height: 35px;
  box-shadow: 0px -6px 20px 3px #666;
  margin-bottom: 15px;
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  background: white;
  font-size: 1.25em;
}

div.top_nav div.nav_inner
{
  width: 960px;
  margin: 0 auto;
  height: 100%;
}

div.nav
{
  height: 100%;
}

div.nav_inner a
{
  display: inline-block;
  vertical-align: middle;
  line-height: 35px;
  padding: 0 5px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}

div.nav_inner a:hover
{
  /*-webkit-transition: background-color 0.33s, color 0.33s;
  -moz-transition: background-color 0.33s, color 0.33s;
  -o-transition: background-color 0.33s, color 0.33s;
  -ms-transition: background-color 0.33s, color 0.33s;
  transition: background-color 0.33s, color 0.33s;*/
  /*background-color: steelblue;
  color: white;*/
}

div.nav_inner a.active_link
{
  background-color: steelblue;
  color: white;
}

div.main_body_wrap
{
  width: 960px;
  margin: 60px auto 0;
  position: relative;
  z-index: 1;
}

div#slider_example
{
  width: 900px;
  height: 400px;
  box-shadow: 1px 2px 5px #333;
  margin: 0 auto;
}

div.slider_container
{
  width: 900px;
  height: 400px;
  /*margin-bottom: 7px;*/
}

.glide-pagination, .controls {
  margin-top: 5px;
}

a.pause
{
  letter-spacing: -6px;
  line-height: 18px;
  color: gray;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}

a.pause:hover
{
  color: steelblue;
}

#summary
{
  margin-top: 50px;
  padding-top: 0;
}

#summary p {
  margin: 10px 0 10px 25px;
  width: 750px;
  line-height: 20px;
}

.section
{
  border-bottom: thin solid lightgray;
  padding: 10px 0;
}

.section:last-child
{
  border-bottom: none;
}

.section h1
{
  font-size: 20pt;
  display: inline-block;
}

div.section#docs h3
{
  font-weight: normal;
  margin-bottom: 3px;
}

div.section#docs p, div.section#docs code {
  margin: 0 0 3px 25px !important;
}

div#docs div.option_wrap
{
  margin-bottom: 15px;
}

div.section#examples ul {
  list-style: square;
  list-style-position: inside;
}

span.option_type.option_boolean
{
  color: darkred;
}

span.option_type.option_string
{
  color: darkblue;
}

span.option_type.option_integer
{
  color: darkgreen;
}

span.option_name
{
  font-weight: bold;
}

.section .header_link
{
  font-size: 16pt;
}

span.doctype
{
  color: gray;
}

span.tag
{
  color: darkblue;
}

span.attribute
{
  color: teal;
}

span.string
{
  color: crimson;
}

span.selector
{
  color: #458;
  font-weight: bold;
}

span.integer, span.css_keyword
{
  color: magenta;
}

span.type
{
  font-weight: bold;
}

span.default
{
  font-weight: bold;
  font-style: italic;
}

b.arrow
{
  border-color: darkgray;
  -webkit-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  -o-transition: border-color 0.2s;
  -ms-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

b.arrow.right_arrow
{
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 9px solid gray;
  content: "";
}

b.arrow.left_arrow
{
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 9px solid gray;
  content: "";
}

b.arrow:hover
{
  cursor: pointer;
  border-right-color: steelblue;
  border-left-color: steelblue;
}

h3.downloads_header {
  margin: 0 0 5px 10px;
  font-size: 15pt;
}

.footer {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  text-decoration: none;
  font-family: 'Helvetica';
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.btn-large [class^="icon-"] {
  margin-top: 1px;
}


[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../imgs/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

[class^="icon-"]:last-child,
[class*=" icon-"]:last-child {
  *margin-left: 0;
}

.icon-step-backward {
  background-position: -192px -72px;
}

.icon-fast-backward {
  background-position: -216px -72px;
}

.icon-backward {
  background-position: -240px -72px;
}

.icon-play {
  background-position: -264px -72px;
}

.icon-pause {
  background-position: -288px -72px;
}

.icon-stop {
  background-position: -312px -72px;
}

.icon-forward {
  background-position: -336px -72px;
}

.icon-fast-forward {
  background-position: -360px -72px;
}

.icon-step-forward {
  background-position: -384px -72px;
}

.btn-blue {
  background-color: #33B5E5;
  *background-color: #0099CC;
  background-image: -ms-linear-gradient(top, #33B5E5, #0099CC);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#33B5E5), to(#0099CC));
  background-image: -webkit-linear-gradient(top, #33B5E5, #0099CC);
  background-image: -o-linear-gradient(top, #33B5E5, #0099CC);
  background-image: linear-gradient(top, #33B5E5, #0099CC);
  background-image: -moz-linear-gradient(top, #33B5E5, #0099CC);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#33B5E5', endColorstr='#0099CC', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-blue:hover {
  color: #fff;
  text-decoration: none;
  background-color: #0099CC;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn-purple {
  background-color: #AA66CC;
  *background-color: #9933CC;
  background-image: -ms-linear-gradient(top, #AA66CC, #9933CC);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#AA66CC), to(#9933CC));
  background-image: -webkit-linear-gradient(top, #AA66CC, #9933CC);
  background-image: -o-linear-gradient(top, #AA66CC, #9933CC);
  background-image: linear-gradient(top, #AA66CC, #9933CC);
  background-image: -moz-linear-gradient(top, #AA66CC, #9933CC);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#AA66CC', endColorstr='#9933CC', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-purple:hover {
  color: #fff;
  text-decoration: none;
  background-color: #9933CC;
  *background-color: #AA66CC;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}
